
.root-cmp {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em;

    background-color: rgb(239, 230, 230);
}

.root-cmp nav a {
    padding-inline: 0.5em;
    padding-block: 0.3em;
}

.root-cmp nav a:not(:last-child) {
    border-inline-end: 1px solid black;
}

.root-cmp nav a:hover {
    border-block-end: 1px solid green;

    color:green;
}

