.season-clock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-block-start: 1em;
    padding: 1em;

    background-color: lightblue;

    transition: 1s;
}

.dark {
    color:whitesmoke;
    background-color: darkblue;
    border-color: whitesmoke;
}