.watchers-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    justify-content: center;
    align-items: center;

    gap: 10px;

    margin-block-start: 1em;
}

.watchers-list > div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    padding: 1em;

    background-color: whitesmoke;
}

.watchers-list h3 {
    border-block-end: 1px solid black;
    padding: 1em;

    font-weight: bold;
}

.watchers-list-btns {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1em;
}